<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crossbar</key>
	<string>crossbar.glif</string>
	<key>round</key>
	<string>round.glif</string>
	<key>roundleg</key>
	<string>roundleg.glif</string>
	<key>straight</key>
	<string>straight.glif</string>
	<key>ucRound</key>
	<string>ucRound_.glif</string>
</dict>
</plist>
